redis>=4.5.4,<5.0.0
twilio>=8.1.0,<9.0.0
vonage>=3.5.1,<4.0.0
pyngrok>=6.0.0,<7.0.0
python-dotenv>=1.0.0,<2.0.0
pydub==0.25.1
nltk==3.8.1
openai==0.27.8
sounddevice==0.4.6
azure-cognitiveservices-speech==1.27.0
websockets==11.0.2
requests==2.28.2
uvicorn==0.21.1
fastapi==0.100.1
jinja2==3.1.2
python-multipart==0.0.6
six==1.16.0
opentelemetry-sdk==1.17.0
janus==1.0.0
scipy==1.11.4
anthropic==0.7.1
speechrecognition==3.10.0
aiohttp==3.8.4
langchain==0.0.198
miniaudio==1.59
boto3==1.28.28
gtts==2.3.1
google-cloud-texttospeech==2.14.1
elevenlabs==0.2.6
google-cloud-speech==2.19.0
redis==4.5.4
twilio==8.1.0
vonage==3.5.1
nylas==5.14.0
google-cloud-aiplatform==1.26.0
types-redis==4.6.0